* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #756AEE;
    --black: #000000;
    --white: #FFFFFF;
    --dark: #3a3a3a;
}

body {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.section-gallery {
    width: 90vw;
    height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto 3rem;
    overflow: hidden;

    .bg-element {
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% + 150px);
        height: calc(100% + 150px);
        will-change: transform;
        animation: bg-element 100s linear infinite;
        transform: translate3d(-75px, -75px, 0) rotate(0.001deg);
        background-position: 50% 50%;
        background-size: cover;
        z-index: -1;
    }


    .container {

        h1 {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
            font-size: 4rem;
            font-weight: 600;
            text-transform: capitalize;
            letter-spacing: 2px;
        }

        .banner-links {
            display: flex;
            justify-content: center;

            a {
                font-size: 1rem;
                text-decoration: none;

                &:hover {
                    color: gray;
                }

                &::after {
                    content: '/';
                    color: gray;
                    padding: .5rem;
                }
            }
        }
    }
}

.gallery {
    display: flex;
    align-items: center;
    flex-direction: column;

    .main-project-section {
        width: 90vw;

        .filter-links {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                color: gray;
                padding: 1rem;
                text-decoration: none;
                position: relative;
                text-transform: uppercase;
                text-align: center;
                font-weight: 500;
                font-size: 18px;

                &::after {
                    content: '|';
                    position: absolute;
                    right: 0;
                    color: rgba(128, 128, 128, 0.49);
                }

                &:hover {
                    color: var(--primary);
                }

                &.active {
                    color: var(--primary);
                    transition: all 0.3s ease;
                }
            }
        }
    }

    .filter-sections {
        width: 100%;
        min-height: 400px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 50px auto;
        gap: 1rem;

        div {
            width: 420px;
            height: 350px;
            opacity: 0;
            display: none;
            transition: all 500s ease;
            background-position: center;
            background-size: cover;
            overflow: hidden;

        }
    }
}


.view {
    display: block !important;
    opacity: 1 !important;
    transform: scale(1) rotate(0deg);
    border-radius: 4px;
    animation: selected 300ms 1 ease-in-out;
}

@keyframes selected {
    0% {
        border-radius: 100%;
        transform: scale(0) rotate(-180deg);
    }
}

@keyframes bg-element {
    25% {
        transform: translate3d(-150px, -150px, 0) rotate(0.001deg);
    }

    75% {
        transform: translate3d(0, 0, 0) rotate(0.001deg);
    }
}